.card {
  &.plot {
    width: 135px;
    height: 90px;
    img {
      width: 135px;
      height: 90px;
    }
    &:hover {
      transition-delay: 0.5s;
      transform: scale(2.3);
      z-index: 1;
    }
  }
  img {
    width: 90px;
    height: 135px;
  }
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.2s;
  position: relative;
  width: 90px;
  height: 135px;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  transform: translateY(0px);
  padding: 1px;
  &:hover {
    transition-delay: 0.5s;
    transform: scale(2.3) translateY(-35px);
    z-index: 1;
  }
  &:active {
    transition-delay: 0s;
    transform: scale(1);
  }
}

.card-kneeled {
  transform: rotate(-90deg);
}

.card-opponent {
  cursor: default;
  &:hover {
    transform: scale(2) translateY(35px);
    z-index: 1;
  }
}
