.card {
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.2s;
  position: relative;
  width: 90px;
  height: 135px;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  transform: translateY(0px);
  padding: 1px;
  &:hover {
    transition-delay: 0.5s;
    transform: scale(2) translateY(-35px);
    z-index: 1;
  }
}

.card-kneeled {
  transform: rotate(-90deg);
}

.card-opponent {
  cursor: default;
  &:hover {
    transform: scale(2) translateY(35px);
    z-index: 1;
  }
}

.card > img {
  width: 90px;
  height: 135px;
}
