.player {
  flex: 1 100%;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
}

.player-locations {
  flex-grow: 1;
}

.player-wrapper {
  flex-flow: row;
  align-items: flex-end;
}
